<!DOCTYPE html>
<html>
<head>
	<title>Donkey Query List</title>
	<script src="{{prefix}}/static/js/react-15.3.0/react.js"></script>
	<script src="{{prefix}}/static/js/react-15.3.0/react-dom.js"></script>
	<script src="{{prefix}}/static/js/browser.min.js"></script>
	<script src="{{prefix}}/static/jquery-2.1.4.min.js"></script>
	<script src="{{prefix}}/static/js/react-bootstrap.js"></script>
	<link href="{{prefix}}/static/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet">
<style>
.hide-true  {
              display: none;
          }
</style>
</head>
<body>

<div id="query"></div>
<script   type="text/babel">

var Button = ReactBootstrap.Button;
var InputGroup = ReactBootstrap.InputGroup;
var FormControl = ReactBootstrap.FormControl;
var ControlLabel = ReactBootstrap.ControlLabel;
var FormGroup = ReactBootstrap.FormGroup;
var Grid = ReactBootstrap.Grid;
var Col = ReactBootstrap.Col;
var PageHeader = ReactBootstrap.PageHeader;
var Row = ReactBootstrap.Row;
var Panel = ReactBootstrap.Panel;
var Table = ReactBootstrap.Table;

function hit_api(route, data, method){
	function mkLoad(){
			$('#loader').html('<img src={{prefix}}/static/img/SPINNAZ.gif />');
	};
	function unLoad(){
		$('#loader').html('');
	};
	function fail(jqX, status, error){
		console.log(jqX);
		alert('API Call to route \''+route+'\' failed with error:\n\n"'+jqX.responseJSON.error+'"');
		unLoad();
	}
	if (data==null) {
		return $.ajax({
			type:method,
			contentType:'application/json',
			url:"{{prefix}}" + route,
			async:true,
			beforeSend:mkLoad,
			error:fail,
		}).always(unLoad);
	}
	else {
		return $.ajax({
			type:method,
			contentType:'application/json',
			url:"{{prefix}}" + route,
			data:JSON.stringify(data),
			async:true,
			beforeSend:mkLoad,
			error:fail,
		}).always(unLoad);
	};
}

var QueryList = React.createClass({
  getInitialState: function() {
    return {
      queries: [],
			show:[],
    }
  },
	componentDidMount: function(){
		$.when(hit_api('/query/list',null, 'GET')).then(function(data){
				this.setState({queries: data.data});
				var h = Array(data.data.length).fill(true);
				this.setState({show: h});
		}.bind(this));
	},
	handleSearch: function(e) {
		var toshow = this.state.show.slice();
		var q = e.target.value;
		if (q.length<2) {
			toshow=Array(this.state.queries.length).fill(true);
		} else {
			for (var i = 0; i < this.state.queries.length; i++) {
				if (this.state.queries[i].name.toLowerCase().search(q)==-1) {
					toshow[i] = false;
				}
			};
		};
		console.log(toshow);
		this.setState({show: toshow});
	},
	render: function() {
		var qs = this.state.queries;
		return <Grid>
		<Row>
		<PageHeader>Saved Queries</PageHeader>
		<Panel >
			<FormGroup>
				<InputGroup >
					<InputGroup.Addon>Filter by Name</InputGroup.Addon>
					<FormControl type="text" ref="url" onChange={this.handleSearch} />
				</InputGroup>
			</FormGroup>
			<Table striped bordered condensed hover>
			<thead>
			<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Details</th></tr></thead>
			<tbody>
				{
					qs.map(function(key, index){
						return <QueryRes
											key={index}
											name={key.name}
											description={key.description}
											uuid={key.uuid}
											query={key.query}
											show={this.state.show[index]}
									/>;
					}.bind(this))
				}
			</tbody>
			</Table>
			</Panel>
			</Row>
			</Grid>
	}
});

var QueryRes = React.createClass({
	getInitialState: function(){
		return {
			name:'',
			description:'',
			uuid: '',
			request_query: {},
			handle_query:{},
			show:true
		};
	},
	shouldComponentUpdate: function(pp) {
		this.setState({name:pp.name, description: pp.description, uuid: pp.uuid},
				function(){
					this.setState({
						name:pp.name,
						description: pp.description,
						uuid: pp.uuid,
						request_query:pp.query.request,
						handle_query: pp.query.handle,
						show:pp.show
					});
					console.log(pp.show);
					this.forceUpdate();
				}
		);
		this.render();
		return true;
	},
	componentDidMount: function(){
		this.setState({name:this.props.name, description: this.props.description});

	},
	render: function() {
		var link_loc;
		if (this.state.handle_query['@handler']=='XPATHROW') {
			link_loc = '{{prefix}}/donkey/edit_table_query/'+this.state.name;
		};
		return <tr className={'hide-'+ ! this.props.show}>
			<td><a href={link_loc} target="_blank">{this.state.name}</a>
			</td>
			<td>{this.state.description}
			</td>
			<td>
					<b>Request Grabber: </b>{this.state.request_query['@grabber']}<br/>
					<b>Request URL: </b> {this.state.request_query.url}<br/>
					<b>Query Handler: </b> {this.state.handle_query['@handler']}<br/>
			</td>
			</tr>
	}
})

ReactDOM.render(
	<QueryList />,
	document.getElementById('query')
)

</script>
</body>
</html>
