<!DOCTYPE html>
<html>
<head>
	<title>Donkey Query Editor</title>
	<script src="{{prefix}}/static/js/react-15.3.0/react.js"></script>
	<script src="{{prefix}}/static/js/react-15.3.0/react-dom.js"></script>
	<script src="{{prefix}}/static/js/browser.min.js"></script>
	<script src="{{prefix}}/static/jquery-2.1.4.min.js"></script>
	<script src="{{prefix}}/static/bootstrap-3.3.5/js/bootstrap.min.js"></script>
	
	<link href="{{prefix}}/static/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet">
	
</head>
<body>

<div class="container">
	<div class="row">
		<h1>Let's construct a Donkey Query!</h1>
	</div>
	
	<div class="row" id="query"></div>
</div>



{{uuid}}



<script   type="text/babel">



function hit_api(route, data, method){
	return $.ajax({
		type:method,
		contentType:'application/json',
		url:"{{prefix}}" + route,
		data:JSON.stringify(data),
		async:true,
	});
};

function hydrate_query(uuid){
		var raw_data,
			data,
			handle_query,
			request_query;
		raw_data = hit_api('/query/raw_data/' + uuid , null , 'GET').done(function(data){
			console.log(data.data)
			return data.data.raw_data;
		});
		data = hit_api('/query/data/' + uuid , null , 'GET').done(function(data){
			console.log(data.data)
			return data.data;
		});
		handle_query = hit_api('/query/handle_query/' + uuid , null, 'GET').done(function(data){
			console.log(data.data)
			return data.data.handle_query;
		});
		request_query = hit_api('/query/request_query/' + uuid ,  null, 'GET').done(function(data){
			console.log(data.data)
			return data.data.request_query;
		});
		var x = {
			raw_data: raw_data,
			data: data,
			handle_query: handle_query,
			request_query: request_query,
			uuid: uuid
		}	
		return x;
}

var QueryBox = React.createClass({

	getInitialState: function() {
	    return {data: []};
	 },
	componentDidMount: function(){
		var uuid = "{{uuid}}";
		console.log(uuid);
		if (uuid == "new") {
			hit_api('/query/new/', {handler: "XPATHROW"}, 'POST').done( function(data){
				uuid = data.uuid;
			});
			var data = hydrate_query(uuid);
			console.log(data);
			this.setState({data: data});
		};
	},
	render: function(){
		return (
			<div className="queryBox">
				{this.uuid}
				{this.raw_data}
			</div>
		);
	}
});
ReactDOM.render(
	<QueryBox />,
	document.getElementById('query')
)





/*if (uuid == 'NEW_QUERY') {
	q_data = hit_api('/query/new/',{handler:"XPATHROW"}, 'POST');
	console.log(q_data);
	uuid = q_data.uuid;
	query = hydrate_query(uuid);
	console.log(query)

};*/
</script>
</body>
</html>