<!DOCTYPE html>
<html>
<head>
	<title>Donkey Query Editor</title>
	<script src="{{prefix}}/static/js/react-15.3.0/react.js"></script>
	<script src="{{prefix}}/static/js/react-15.3.0/react-dom.js"></script>
	<script src="{{prefix}}/static/js/browser.min.js"></script>
	<script src="{{prefix}}/static/jquery-2.1.4.min.js"></script>
	<script src="{{prefix}}/static/js/react-bootstrap.js"></script>
	<link href="{{prefix}}/static/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div id="loader"></div>
<div id="query"></div>



<script   type="text/babel">

var Button = ReactBootstrap.Button;
var InputGroup = ReactBootstrap.InputGroup;
var FormControl = ReactBootstrap.FormControl;
var ControlLabel = ReactBootstrap.ControlLabel;
var FormGroup = ReactBootstrap.FormGroup;
var Grid = ReactBootstrap.Grid;
var Col = ReactBootstrap.Col;
var PageHeader = ReactBootstrap.PageHeader;
var Row = ReactBootstrap.Row;
var Panel = ReactBootstrap.Panel;
var Table = ReactBootstrap.Table;

function hit_api(route, data, method){
	function mkLoad(){
			$('#loader').html('<img src={{prefix}}/static/img/SPINNAZ.gif />');
	};
	function unLoad(){
		$('#loader').html('');
	};
	function fail(jqX, status, error){
		console.log(jqX, status, error);
		alert('API Call to route \''+route+'\' failed with error:\n\n"'+jqX.responseJSON.error+'"');
		unLoad();
	}
	if (data==null) {
		return $.ajax({
			type:method,
			contentType:'application/json',
			url:"{{prefix}}" + route,
			async:true,
			beforeSend:mkLoad,
			error:fail,
		}).always(unLoad);
	}
	else {
		return $.ajax({
			type:method,
			contentType:'application/json',
			url:"{{prefix}}" + route,
			data:JSON.stringify(data),
			async:true,
			beforeSend:mkLoad,
			error:fail,
		}).always(unLoad);
	};

};

function hydrate_query(uuid, from_where){
		var x=hit_api('/query/load/' + uuid, {where: from_where}, 'POST').then(function(data){
			var x = data.data;
			return data.data;
		})
		return x;
}

var QueryBox = React.createClass({
	getInitialState: function() {
	    return {
			raw_data: "",
			data: [],
			handle_query: {},
			request_query: {},
			uuid: "{{uuid}}"
	    };
	 },
	componentDidMount: function(){
		var   uuid = "{{uuid}}",
			get_data = {},
			data = {};
		if (uuid == "new") {
			var get_uid = hit_api('/query/new/', {handler: "XPATHROW"}, 'POST');
			var get_details = $.when(get_uid).then(function(data){
				uuid = data.uuid;
				return hydrate_query(uuid, 'queries');
			});
			var complete = $.when(get_details).then(function(ret_val){
				return ret_val;
			});
			$.when(complete).then(function(ret){
				console.log(uuid);
				this.setState(ret);
				this.setState({display_name: ret.uuid});
				if (this.state.data == undefined) {
					console.log('dataaaa')
					this.setState({data: []})
				}
			}.bind(this));
		} else {
			var complete = $.when(hydrate_query(uuid, 'library')).then(function(ret_val){
				return ret_val;
			});
			$.when(complete).then(function(ret){
				console.log(ret);
				this.setState(ret);
				this.setState({display_name: ret.name})
				if (this.state.data == undefined) {
					console.log('dataaaa')
					this.setState({data: []})
				}
				this.forceUpdate();
			}.bind(this));

		};

	},
	updateRequestQuery: function(data){
		this.setState({
			request_query:data
		});
		var data = $.when(hit_api('/query/fetch/'+this.state.uuid, data, 'POST')).then(function(data){
			this.setState({raw_data: data.data})
			return data.data;
		}.bind(this));
		;
		return data;
	},
	addNewCell: function(data){
		var vals = this.state.handle_query
		vals[data] = '';
		this.setState({handle_query: vals});
	},
	updateHandleQueryVal: function(key, val){
		var to_up = this.state.handle_query;
		to_up[key] = val;
		this.setState({handle_query: to_up});
	},
	submitHandleQuery: function(){
		var data = $.when(hit_api('/query/handle/'+this.state.uuid, this.state.handle_query, 'POST')).then(function(data){
			this.setState({data: data.data})
		}.bind(this));
	},
	delVal: function(val){
		var v = this.state.handle_query;
		delete v[val.key];
		this.setState({handle_query: v});
	},
	updateInfo: function (key, val) {
		if (key=='Name') {
			this.setState({name: val})
		} else if (key == 'Desc') {
			this.setState({description: val})
		} ;
	},
	saveQuery: function () {
		var data = $.when(
				hit_api('/query/save/'+this.state.uuid,
						{name: this.state.name,
						 description: this.state.description
						},
						'POST')
		).then(function(data){
			alert(data.message)
		})
	},
	render: function(){
		var loc = '{{prefix}}/donkey/edit_table_query/'+this.state.display_name;
		return (
			<Grid className="queryBox">
			<PageHeader>XPathRow Query Constructor <small>{this.state.name}</small></PageHeader>
			Link to this query: <a href={loc}>{loc}</a><br/>
			<hr/>
			Query Description: {this.state.description}
				<RequestQueryBox
					request_query={this.state.request_query}
					raw_data = {this.state.raw_data}
					onURLSubmit = {this.updateRequestQuery}
				/>
				<HandleQueryTable
					values={this.state.handle_query}
					addNewCell={this.addNewCell}
					updateVal={this.updateHandleQueryVal}
					performHandleQuery={this.submitHandleQuery}
					output_data={this.state.data}
					delVal={this.delVal}
				/>
				<SaveQueryTable
					updateInfo={this.updateInfo}
					saveQuery={this.saveQuery}
					name={this.state.name}
					description= {this.state.description}
				/>
			</Grid>
		)
	},
});

var RequestQueryBox = React.createClass({
	getInitialState: function() {
		return {
			url: '',
			raw_data:'',
			open: true,
			filtered:[],
			query:'',
		};
	},
	shouldComponentUpdate: function(newProps, newState){
		this.setState({url: newProps.request_query.url});
		this.setState({raw_data: newProps.raw_data});
		return true;
	},
	handleChange: function(e) {
		this.setState({url: e.target.value});

	},
	handleSubmit: function(e){
		var new_raw = this.props.onURLSubmit({url: this.state.url});
		new_raw.done(function(data){
			this.setState({raw_data: data});
		}.bind(this));

	},
	findValue: function(e){
		var escape = function(s) {
		    return s.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&');
		};

		var query = escape(e.target.value);
		if (query.length>1) {
			var to_search = this.state.raw_data.split("\n");
			var results = [];
			var bord = 20
			for (var i = 0; i < to_search.length; i++) {
				var is_res = to_search[i].search(query);
				if (is_res>-1) {
					results.push(to_search[i].substring(is_res - bord, is_res + query.length + bord))
				}to_search[i]
			}
			this.setState({query: query});
			this.setState({filtered: results})

		} else{
			this.setState({filtered: []});
		}
	},
	render: function(){
		var filt = this.state.filtered;
		return(
			<Row>
			<Button onClick={ ()=> this.setState({ open: !this.state.open })} bsSize="small">
			       Collapse Request Details
			</Button>
			<Panel header="Request Details" collapsible expanded={this.state.open}>
				<Row>
				<Col md={6} >
					<Panel header="Request Input" >
						<FormGroup className="requestQueryBox" >
						<ControlLabel>URL:</ControlLabel>
						<InputGroup >
							<FormControl type="text" ref="url" onChange={this.handleChange} value={this.state.url}/>
							<InputGroup.Button>
								<Button onClick={this.handleSubmit} >Update Details</Button>
							</InputGroup.Button>
						</InputGroup>
						</FormGroup>
					</Panel>
				</Col>
				<Col md={6} >
					<Panel header="Request Output">
						<InputGroup>
							<InputGroup.Addon>Find Text</InputGroup.Addon>
							<FormControl type="text" onChange={this.findValue} />
						</InputGroup>
						<span>{this.state.filtered}</span>
						<Table>
							<tbody>
							{
								filt.map(function(data, index){
									return <tr key={index}><td>{data}</td></tr>
								}.bind(this))
							}
							</tbody>
						</Table>
						<textarea value={this.state.raw_data}/>
					</Panel>
				</Col>
				</Row>
			</Panel>
			</Row>

		)
	},

});


var HandleQueryTable = React.createClass({
	getInitialState: function(){
		return {
			cells:{},
			_base: '',
			open:true,
			output_data:[],
		};
	},
	shouldComponentUpdate: function(newProps, newState){
		this.setState({
			cells:newProps.values,
			output_data:newProps.output_data
		})
		this.forceUpdate();
		return true;
	},
	makeNewCell: function(){
		var newVal = prompt("Enter a name for the new value", "NewVal");
		if (newVal != null) {
				var curr_keys = this.state.cells;
				curr_keys[newVal]="";
				this.setState({cells: curr_keys});
				this.props.addNewCell(newVal)
		}
	},
	updateVal: function(key, val){
		var curr_keys = this.state.cells;
		curr_keys[key]= val;
		this.setState({cells: curr_keys});
		this.props.updateVal(key, val);
	},
	changeBase: function (e) {
		var _b = e.target.value;
		var curr= this.state.cells;
		curr._base = _b;
		this.setState({cells:curr})

	},
	render: function(){
		var keys = Object.keys(this.props.values);
		var values = this.props.values;
		var out_keys = Object.keys(this.state.output_data);
		var out_values = this.state.output_data;
		return(
			<Row>
			<Button onClick={ ()=> this.setState({ open: !this.state.open })} bsSize="small">
						 Collapse Query Details
			</Button>
			<Panel header="Query Details"  collapsible expanded={this.state.open}>
				<Col md={6} >
				<Panel header="Query Input">
				<FormGroup>
					<InputGroup>
						<InputGroup.Addon>Query Base</InputGroup.Addon>
						<FormControl type="text" ref="base" onChange={this.changeBase} value={this.state.cells._base} />
					</InputGroup>
				</FormGroup>
				<Table striped bordered condensed hover>
					<thead>
						<tr>
							<th>Variable Name</th>
							<th>Xpath Query</th>
							<th>Del</th>
						</tr>
					</thead>
					<tbody>
					{
						keys.map(function(key, index){
							if (key != '_base') {
								var val = values[key];
								var ind = index;
								return <tr>
								<th key={index}>{key}</th>
									<InputTableCell
										value={val}
										keyname = {key}
										updateVal={this.updateVal}
									/>
								<td><Button bsSize="small" onClick={() => this.props.delVal({key})} >x</Button></td>
									</tr>
							}
						}.bind(this))
					}
					</tbody>
				</Table>
				<Button onClick={this.makeNewCell}> Add New value</Button>
				<Button onClick={this.props.performHandleQuery}>Perform Handle Query</Button>
				</Panel>
				</Col>
				<Col md={6}>
					<Panel header="Query Output">
					 <Table striped bordered condensed hover>
						<thead>
							<tr>
								{
									keys.map(function (key, index) {
										if (key != '_base') {
											return <th>{key}</th>
										}
									})
								}
							</tr>
						</thead>
						<tbody>
								{
									Object.keys(this.state.output_data).map(function(key, index){
										var ind = index;
										return <OutputTableRow
												value={this.state.output_data[key]}
												key={index}
											/>
									}.bind(this))
								}
						</tbody>
					</Table>
					</Panel>
				</Col>
			</Panel>
			</Row>

		);
	}

})

var InputTableCell = React.createClass({
	getInitialState: function(){
		return {val:''}
	},
	shouldComponentUpdate: function(newProps){
		this.setState({val: newProps.value}, function(){
			this.setState({val: newProps.value});
			this.forceUpdate()
		});
		return true;
	},
	changeVal: function(e){
		var value = e.target.value;
		var key = this.props.keyname;
		this.props.updateVal(key, value);
		this.setState({val: value});
	},
	render: function(){
		return (
			<td><FormControl type="text" onChange={this.changeVal} value={this.state.val}/></td>
		)
	}
});

var OutputTableRow = React.createClass({
	getInitialState: function(){
		return {val:[]}
	},
	shouldComponentUpdate: function(newProps) {
		this.setState({val:newProps.value}, function(d){
			this.setState({val: newProps.value});
			this.forceUpdate();
		}.bind(this));
		return true;
	},
	render: function(){
		return <tr>{
			Object.keys(this.state.val).map(function (key, index) {
			return <OutputTableCell value={this.state.val[key]} key={index} />
		}.bind(this))
	}</tr>
	}
})

var OutputTableCell = React.createClass({
	getInitialState: function(){
		return {value:''}
	},
	shouldComponentUpdate: function (newProps) {
		this.setState(newProps);
		this.forceUpdate()
	},
	render: function(){
		return (
			<td>{this.state.value}</td>
		)
	}
})

var SaveQueryTable = React.createClass({
	getInitialState: function(){
		return {
			open: false,
			name:'',
			description:''
		}
	},
	updateName: function(e) {
		this.props.updateInfo('Name', e.target.value);
	},
	updateDesc: function(e) {
		this.props.updateInfo('Desc', e.target.value);
	},
	shouldComponentUpdate: function(newProps){
		this.setState({
				name: newProps.name,
				description: newProps.description
			}, function(){
			this.setState({
					name: newProps.name,
					description: newProps.description
			});
			this.forceUpdate()
		});
		return true;
	},
	render: function(){
		return(
			<Row>
				<Button onClick={ ()=> this.setState({ open: !this.state.open })} bsSize="small">
							 Collapse Query Information
				</Button>
				<Panel header="Query Information"  collapsible expanded={this.state.open}>
					<FormGroup className="SaveQueryTable" >
						<ControlLabel>Name</ControlLabel>
							<FormControl type="text" ref="name" onChange={this.updateName} value={this.state.name}/>
						<ControlLabel>Description</ControlLabel>
							<FormControl type="text" ref="description" onChange={this.updateDesc} value={this.state.description}/>
					</FormGroup>
					<Button onClick={this.props.saveQuery} bsStyle="info">Save</Button>
				</Panel>
			</Row>
		)
	}
})
ReactDOM.render(
	<QueryBox />,
	document.getElementById('query')
)
</script>
</body>
</html>
