<html>
  <head>
    <script src="/static/js/require.js" ></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/donkey/api_functions.js" ></script>
  </head>


<script type="text/javascript">
  console.log('testing api functions');

      var uuid,
          details;
      var res = new_query().done(function (d){
            uuid = d.uuid;
            load_query(uuid, 'queries').done(function (f) {
            details = f.data;
        });
      });



</script>

</html>
